*::selection {
    background-color: #01f603;
    color: #fff;
}
.main-header-superior {
    width: 100%;
    max-width: 1624px;
    padding: 1rem ;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    align-items: center;
    margin: auto!important;
}
.main-header-superior-logo{
    flex-direction: row;
    flex-wrap: nowrap!important;
}
.main-header-superior-end, .busqueda-maximus, .caja-menu-interaccion-usuario,.main-header-superior-logo{
    padding: 0!important;
}
.logo-maximus > svg{
    width: 10em;
}
.barra-busqueda{
    height: 48px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    padding: .92308rem 3.69231rem .92308rem 1.23077rem;
    font-size: 1.15385rem;
    position: relative;
    opacity: 1;
    width: 100%;
    max-width: 100%;
}
.svg-lupa{
    width: 45px;
    height: 31px;
    position: absolute;
    right: 4px;
    top: 1px;
    pointer-events: none;
}
.caja-menu-interaccion-usuario{
    align-items: center;
    justify-content: flex-end;
}
.menu-interaccion-usuario{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 0;
}
.svg-usuario, .svg-carrito{
    width: 2em;
}
.svg-menu{
    width:2em;
}
.svg-menu-barra-inferior{
    width: 1.5em;
}
.main-menu-secundario{
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: none;
}
.interaccion-usuario-iniciar-sesion, .interaccion-usuario-carrito{
    align-items: center;
}
.navegacion-secundaria {
    font-size: .975rem;
    color: #000;
    height:41px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.navegacion-secundaria > .row{
    align-items: center;
    text-align: center;
    height: 41px;
    max-width: 1624px;
    margin: auto;
}
.main-menu-secundario, .main-menu-secundario-barra-categorias{
    height: 41px;
} 
.titulo-central{
    font-size: 0.9rem;
}
.main-menu-secundario-barra-categorias{
    align-items: center;
}
.titulo-home {
    display: inline;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: Open Sans,arial,sans-serif;
    color: #000;
}
.ofertas-especiales-texto{
    text-decoration: none;
    color: black;
}
.menu-name{
    color: #333;
    font-size: 0.7692rem;
    font-weight: 700;
    margin: 0;
    border-radius: 4px 4px 0 0;
    align-items: center;
}
.c-main-menu__wrapper{
    left: 0;
    z-index: 1040;
    position: relative;
    padding: 0;
    top: 0;
    height: 0;
}
.c-main-menu__superlist {
    background: #fff;
    list-style-type: none;
    padding: 0;
    position: relative;
    width: 100%;
}
.c-main-menu__superlist {
    max-width: 18.07692rem;
    padding-top: 0.5rem;
    width: 18.07692rem;
    left: -30px;
}
.c-main-menu__catlist{
    list-style-type: none;
}
.c-main-menu__superitem > a > h3 > div > svg {
    width: 1.5em;
}
.c-main-menu__superblock {
	display: none
}
.c-main-menu__superitem:hover .c-main-menu__superblock {
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    left: 18.07692rem;
    height:55rem;
    max-height: 60rem;
    position: absolute;
    top: -3.46154rem;
    width: 90rem;
    z-index: -1;
    margin-top: 3.46154rem;
    margin-left: 288px;
    left: 0;
    text-align: center;
}
.c-main-menu__superitem {
	position: relative;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right: 1px solid #ccc;
	border-left: 4px solid transparent;
	max-width: 100%;
}

.c-main-menu__superitem.active,
.c-main-menu__superitem:hover {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid transparent;
	border-left: 4px solid #01f603;
	padding-top: 0;
	padding-bottom: 0
}

.c-main-menu__superitem.active a,
.c-main-menu__superitem.active a:hover,
.c-main-menu__superitem:hover a,
.c-main-menu__superitem:hover a:hover {
	color: #000
}
.c-main-menu__superitem:hover .c-main-menu__superblock:after {
    content: "";
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.23077rem
}

	
	.c-main-menu__superitem:hover .c-main-menu__superblock--3col{
		width: 40vh;
	}
    .c-main-menu__superitem:hover .c-main-menu__superblock--157
    {
        width:80vh;
    }
    .c-main-menu__superitem:hover .c-main-menu__superblock--320,
    .c-main-menu__superitem:hover .c-main-menu__superblock--28,
    .c-main-menu__superitem:hover .c-main-menu__superblock--271{
        width:80vh;
    }
    .c-main-menu__superitem:hover .c-main-menu__superblock--415{
        width: 80vh;
    }
	.c-main-menu__superitem:hover .c-main-menu__superblock--157 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--237 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--271 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--28 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--320 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--3col .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--415 .c-main-menu__catlist {
		width: 40vh;
	}
    
	.c-main-menu__superitem:hover .c-main-menu__superblock--237 {
		width: 80vh;
	}
	.c-main-menu__superitem:hover .c-main-menu__superblock--1,
	.c-main-menu__superitem:hover .c-main-menu__superblock--2col,
	.c-main-menu__superitem:hover .c-main-menu__superblock--649,
	.c-main-menu__superitem:hover .c-main-menu__superblock--943 {
		width: 40vh;
	}
    .c-main-menu__superitem:hover .c-main-menu__superblock--359{
        width: 40vh;
    }
	.c-main-menu__superitem:hover .c-main-menu__superblock--1 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--2col .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--359 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--649 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--943 .c-main-menu__catlist {
		width: 40vh;
	}
    .c-main-menu__superitem:hover .c-main-menu__superblock--119{
        width: 80vh;
    }
    .c-main-menu__superitem:hover .c-main-menu__superblock--119 .c-main-menu__catlist{
        width: 40vh; 
    }
	.c-main-menu__superitem:hover .c-main-menu__superblock--100,
	.c-main-menu__superitem:hover .c-main-menu__superblock--1col,
	.c-main-menu__superitem:hover .c-main-menu__superblock--206,
	.c-main-menu__superitem:hover .c-main-menu__superblock--78 {
		width: 40vh;
	}
    .c-main-menu__superitem:hover .c-main-menu__superblock--359 {
        width: 80vh;
    }
	.c-main-menu__superitem:hover .c-main-menu__superblock--100 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--1col .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--206 .c-main-menu__catlist,
	.c-main-menu__superitem:hover .c-main-menu__superblock--78 .c-main-menu__catlist {
		width: 40vh;
	}
    .categories-link:hover{
        text-decoration: none!important;
    }
    .categories-link > h3{
        color: #01f603;
        align-items: center;
        max-width: 100%;
        font-size: 1rem;
        margin: 0.25rem;
    }
    .c-main-menu__catlist{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
		margin-bottom: .76923rem;
		margin-top: 1.15385rem;
		padding-left: .23077rem;
		width: 24%;
		margin-left: 1%
	}
    .c_link_top{
        color: #01f603;
    }
    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030!important;
        background-color: #000;
    }
    .svg-cruz{
        width: 9.5em!important;
        cursor: pointer;
    }
    .Btn-dos{
        margin-top: 2%;
        padding-right: 0!important;
    }
    .Btn-Barra-Categorias{
        cursor: pointer;
    }
/*Media Queries*/
@media (max-width: 1024px){
    .ofertas-especiales, .main-menu-secundario{
        display: none;
    }
    .imagen-iniciar-sesion, .imagen-carrito{
        display: none;
    }
    .titulo-central{
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    .busqueda-maximus{
        flex: 0 0 58.333333%!important;
        max-width: 58.333333%!important;
    }
    .caja-menu-interaccion-usuario{
        flex: 0 0 41.666667%!important;
        max-width: 41.666667%!important;
    }
    .main-header-superior-end{
        flex: 0 0 66.666667%!important;
        max-width: 66.666667%!important;
    }
    .c-main-menu__superlist {
		margin-bottom: 50px;
		height: calc(100vh - 50px);
		overflow: auto;
		width: 110px;
        margin-top: 2.5vh;
	}
    .c-main-menu__superitem.active,
	.c-main-menu__superitem:hover {
		border-top: 1px solid #ccc
	}
    .categories-link {
        color: #000;
        display: block;
        font-family: Open Sans, sans-serif;
        line-height: 2.92308rem;
        padding: 0 1rem;
        position: relative;
        transition: all .25s ease-in
    }
    #categories-link-title{
        font-size: 1rem;
    }
    a.categories-link {
		white-space: normal;
		line-height: 18px;
		padding: 8px 0
	}
    a.categories-link {
		max-width: 97px;
		text-align: center;
		margin: 0;
		padding: 0;
		font-size: 12px
	}
}


@media (min-width: 1025px){
    .main-menu-secundario-superior{
        display: none!important;
    }
    .c-main-menu__superitem {
		position: static
	}
}
@media(min-width:992px){
    a.categories-link {
		font-size: 1rem;
		line-height: 2.46154rem
	}
}
@media (max-width: 993px){
    .titulo-central, .navegacion-secundaria{
        display: none;
    }
    .main-header{
        border-bottom: 1px solid #ccc;
    }
}
@media (max-width: 768px){
    .barra-busqueda{
        display: none;
    }
    .busqueda-maximus{
        flex: 0 0 50.333333%!important;
        max-width: 50.333333%!important;
    }
    .c-main-menu__superitem.active {
		border-left: 4px solid #000
	}
	.c-main-menu__superitem {
		width: 110px
	}
}
@media (min-width: 768px){
    .svg-lupa{
        top: 8px;
    }
}
@media (max-width: 575.98px) { 
    .logo-maximus > img{
        max-width:75%;
    }

}
@media (max-width: 425px){
    .caja-menu-interaccion-usuario{
    flex : 0 0 60.666667%!important;
    max-width : 60.666667%!important;
    }
    .logo-maximus > svg{
        width:7em;
    }
}
@media (max-width: 320px){
    .menu-interaccion-usuario > li{
        padding: 0rem!important;
    }
    .menu-interaccion-usuario >  li{
        max-width: 70%!important;
    }
}
